:root {
  font-size: 16px;
}

@font-face {
  font-family: "Surt";
  src: local("Surt"), url("assets/fonts/Surt-Bold.otf");
}

@font-face {
  font-family: "Surt";
  src: local("Surt"), url("assets/fonts/Surt-Regular.otf");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100%;
  font-family: "AT Surt", sans-serif;
  line-height: 1.6;
  background-color: #161730;
  color: #8385b7;
  display: grid;
  place-items: center;
}

a {
  color: #009ace;
}

a:hover {
  color: #ff0080;
}

header {
  margin: 2rem 1rem;
}

footer {
  padding: 1rem 0;
}

img {
  max-width: 100%;
}

h1 {
  font-size: clamp(2rem, 1.5vw + 1.7rem, 3rem);
  line-height: clamp(2rem, 1.5vw + 1.7rem, 3rem);
}

main {
  max-width: 50rem;
  padding: 2rem;
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 30rem) {
  main {
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }
}

.btn {
  padding: 0.75rem 1rem;
  background-color: #ff0080;
  color: #fff;
  position: relative;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  box-shadow: -0.5rem -0.5rem 0 #009ace;
  transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
  text-decoration: none;
}

.btn:hover {
  color: #fff;
  box-shadow: 0 0 0 #009ace;
  background-color: #009ace;
}
